# O FollowSymLinks faz com que o Apache aceite links simbólicos no sistema, seguindo os diretórios ou arquivos que os links apontam.
Options +FollowSymLinks
# Habilito o mod_rewrite para reescrita de URL
RewriteEngine on
# Regra de rescrita de url
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&param1=$3&param2=$4&param3=$5 [NC,L]